<div class="product col span_4">
<table id="tab">
	<tr>
		<td><b>Product No:</b></td>
		<td><%= count %></td>
	</tr>
	<tr>
		<td>Name:</td>
		<td><%= name %></td>
	</tr>
	<tr>
		<td>Price:</td>
		<td><%= price %></td>
	</tr>
	<tr>
		<td>Quantity:</td>
		<td><%= quantity %></td>
	</tr>
	<tr>
		<td>Category</td>
		<td><%= category %></td>
	</tr>
</table>
<button type="button" id="buy_product">Buy</button>
<span></span>
</div>